@import "./mixin"
.article-editor
	background-color #fff
	input
		&.full
			height h(50)
			font-size h(17)
	textarea
		margin 0 w(15)
		width w(345)
		min-height h(200)
		padding-top h(8)
		border-top 1px solid $bdGray
		font-size h(15)
		line-height h(22)
	footer
		position fixed
		bottom h(20)
		display flex
		justify-content space-between
		width w(375)
		padding 0 w(15)
		&.without-result
			flex-direction row-reverse
		output
			padding h(3) w(10)
			background-color $bgGray
			border-radius h(13.5)
			font-size h(15)
			color #999
		.category
			display flex
			align-items center
			color $blue
			icon
				margin-left w(5)
.category
	section
		transition max-height .5s
		&:not(.expand)
			max-height h(45)
			overflow hidden
		&.expand
			max-height h(667)
		h1
			border-bottom 1px solid #fff
			transition border-bottom-color .8s
	section
		&:not(.expand)
			h1
				border-bottom-color $bdGray
	h1
		position relative
		margin-left w(15)
		display flex
		width w(360)
		height h(45)
		background-color #fff
		align-items center
		justify-content space-between
		line-height @height
		font-size h(15)
		color #333
		&:after
			position absolute
			left w(-15)
			width w(15)
			height h(45)
			background #fff
			content ""
		icon
			margin-right w(15)
	p
		position relative
		margin-left w(15)
		width w(360)
		height h(45)
		background #f3f3f3
		line-height h(45)
		font-size h(15)
		color #999
		&:not(:last-child)
			border-bottom 1px solid $bdGray
article.detail
	padding 0 w(15) h(15)
	background-color #fff
	header
		overflow hidden
		padding-bottom h(15)
		border-bottom 1px solid $bdGray
		h1
			margin h(12.5) 0
			font-size h(17)
			line-height h(22)
		.base
			display flex
			justify-content space-between
			align-items center
			a
				display flex
				align-items center
				img.avator.small
					width w(20)
					height h(20)
				strong
					margin-left w(10)
					font-size h(13)
					color #666
			time
				font-size h(13)
				color #999
	
	.category
		margin h(15) 0
		font-size h(14)
		color #666
	pre
		line-height h(22)
		font-size h(15)
	footer
		position fixed
		bottom h(-50)
		left 0
		display flex
		width w(375)
		height h(50)
		padding h(9)
		background-color #fff
		border-top 1px solid $bdGray
		transition bottom .5s
		&.pin
			bottom 0
		.button
			display flex
			flex 1
			justify-content center
			align-items center
			&:first-child
				border-right 1px solid $bdGray
			icon
				&.on-favorite
				&.on-six
					animation pulse .15s cubic-bezier(.45, .95, .95, .7)
			span
				margin-left w(10)
				font-size h(15)
				color #666
@keyframes pulse
	to
		width w(25)
		height h(25)