@import "./reset"
@import "./icon"
@import "./mixin"
body
	background-color #f3f3f3
	> input
		position absolute
		width 0
		height 0
		border-width 0
p
pre
	color #333
main
	width w(375)
	overflow hidden
.page
	&:not(.with-both)
		margin-top h(45)
	&.with-footer
		min-height h(622)
	&.without-footer
		margin-bottom h(50)
form
	display flex
	flex-direction column
	align-items center
	> label
		line-height h(50)
		font-size h(16)
		color #666
a
	&.small
		font-size h(12)
div
	&.row
		padding h(10) w(20)
fieldset
	padding 0 w(20)
	width 100%
	border-width 1px 0
	border-color #e3e3e3;
input
	&.full
		padding 0 w(15)
		width 100%
		height h(45)
		background-color #fff
		font-size h(15)
		&:not(:last-of-type)
			border-bottom-color #e3e3e3
button
	font-size h(15)
	&.full
		width w(335)
		height h(40)
	&.below_input
		margin-top h(20)
	&.anchor
		&.bottom
			position fixed
			bottom 0
			width w(375)
			height h(40)
			border-radius 0
			text-align center
			line-height h(40)
			font-size h(15)
		&.blue
			background-color #06f
			color #fff
.border-button
	display flex
	justify-content center
	align-items center
	padding 0 w(6)
	height h(28)
	border 1px solid
	border-radius 4px
	font-size h(15)
	&.white
		color #fff
	&.blue
		color #639efe
a
	&.entrance
		position relative
		display flex
		align-items center
		height h(45)
		background-color #fff
		&:not(:last-of-type)
			&:after
				position absolute
				right 0
				bottom 0
				height h(1)
				background-color #e3e3e3
				content ""
	&.with-icon
		&:not(:last-of-type)
			&:after
				width w(325)
	&.without-icon
		padding-left w(15)
		&:not(:last-of-type)
			&:after
				width w(360)
.scroller
	display flex
	flex-direction column
	align-items center
	padding-bottom h(10)
	bg("/loading.gif")
	background-repeat no-repeat
	background-position-x center
	scroll-behavior smooth
	> p.note
		line-height h(22)
		font-size h(13)
		color #999
	> icon.empty
		margin 50% 0 h(10)
		width w(80)
		height h(80)