@import "./mixin"
.page.info
	padding h(20) w(20)
	h1
		font-size h(18)
		line-height 2
	a
		line-height h(22)
		font-size h(13)
		color $blue
	pre
		margin h(20) w(20)
		line-height h(22)
		font-size h(13)