@import "./mixin"
.user-profile
	.profile
		height h(117)
		padding h(15) w(15)
		background-image linear-gradient(#b1d1fc -35%, $blue 100%)
		.main
			margin-top h(10)
			display flex
			justify-content space-between
			align-items center
			.left
				display flex
			.avatar
				width w(60)
				height h(60)
				border-radius 50%
			.center
				margin-left w(30)
				display flex
				flex-direction column
				justify-content center
				strong
					font-size h(17)
					color #fff
				p
					margin-top h(15)
				span
					font-size h(13)
					color #fff
					&:first-of-type
						margin-right w(20)
	>.article
		margin-top h(10)
.my-focus
	section
		display flex
		justify-content space-between
		align-items center
		margin-bottom h(10)
		width w(375)
		height h(60)
		padding 0 w(15)
		background-color #fff
		a
			display flex
			align-items center
		img
			width w(30)
			height h(30)
			border-radius 50%
		strong
			margin-left w(10)
			font-size h(15)
			color #333