<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/icon.css" />
		<link rel="stylesheet" href="/css/core.css" />
		<title>发现</title>
	</head>
	<body>
		<section>
			<a class="entrance" href="/plan">
				<strong>Punchy开发计划</strong>
				<icon class="go" />
			</a>
			<a class="entrance" href="/lottery/tab">
				<strong>九宫格抽奖</strong>
				<icon class="go" />
			</a>
			<a class="entrance" href="/lottery/flip">
				<strong>九宫格翻牌</strong>
				<icon class="go" />
			</a>
			<a class="entrance" href="/as23123zv">
				<strong>404</strong>
				<icon class="go" />
			</a>
		</section>
		<footer>
			<a href="/">首页</a>
			<a href="/discover">发现</a>
			<a href="/me">个人中心</a>
		</footer>
	</body>
</html>