@import "../../styles/mixin"
.scroller
	display flex
	flex-direction column
	align-items center
	padding-bottom h(10)
	bg("/loading.gif")
	background-repeat no-repeat
	background-position-x center
	scroll-behavior smooth
	> p.note
		line-height h(22)
		font-size h(13)
		color #999
	> icon.empty
		margin 50% 0 h(10)
		width w(80)
		height h(80)